{# Contagric/BackendBundle/Resources/views/CampanyaAdmin/list__action_genero_list.html.twig #}

{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('contagric.backend.admin.relgenerocampanya.list', object) }}" class="btn btn-default view_link btn-sm" title="Genero Producido">
        <i class="glyphicon glyphicon-zoom-in"></i>
        Genero Producido
    </a>
{% endif %}
