{# Contagric/BackendBundle/Resources/views/CampanyaAdmin/list__action_trabajador_list.html.twig #}

{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('contagric.backend.admin.reltrabajotrabajador.list', object) }}" class="btn btn-default view_link btn-sm" title="Gasto Trabajadores">
        <i class="glyphicon glyphicon-list"></i>
        Coste Trabajadores
    </a>
{% endif %}
